<div >
    <nav class="navbar">
        <div class="navigation">
            <a href="home" routerLink="home"><i class="bi bi-house-door"></i></a>
            <a href="search" routerLink="search"><i class="bi bi-search"></i></a>
            <a href="post" routerLink="post"><app-instabutton></app-instabutton></a>
            <a href="chat" routerLink="chat"><i class="bi bi-chat"></i></a>
            <a href="profile" routerLink="profile"><i class="bi bi-person"></i></a>         
        </div>
    </nav>
</div>

