img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-header {
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  object-fit: cover; 
  margin-bottom: 32px;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.name {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -0.015em;
  margin-bottom: 16px;
}

.location {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
